.article {
	height: 500px;
	overflow-y: hidden;
}

.article img {
	max-width: 100%;
}

.article iframe {
	max-width: 100%;
}

.article__title {
	font-size: 24px;
}

.article__title a:focus, a:hover {
	text-decoration: none;
}

.center-h2 {
	text-align: center;
}